/**
 * Dracula theme for highlight.js
 * https://draculatheme.com
 */

.hljs {
  color: #f8f8f2;
  background: transparent;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-title,
.hljs-section,
.hljs-doctag,
.hljs-name {
  color: #ff79c6;
}

.hljs-built_in {
  color: #8be9fd;
}

.hljs-comment {
  color: #6272a4;
}

.hljs-string,
.hljs-title.class_,
.hljs-class .hljs-title,
.hljs-template-variable,
.hljs-quote,
.hljs-meta .hljs-meta-string {
  color: #f1fa8c;
}

.hljs-type,
.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-selector-id,
.hljs-selector-class {
  color: #8be9fd;
}

.hljs-number,
.hljs-literal {
  color: #bd93f9;
}

.hljs-variable,
.hljs-template-tag {
  color: #f8f8f2;
}

.hljs-attr {
  color: #50fa7b;
}

.hljs-tag .hljs-attr {
  color: #50fa7b;
}

.hljs-regexp {
  color: #ff5555;
}

.hljs-meta {
  color: #f8f8f2;
}

.hljs-subst {
  color: #f8f8f2;
}

.hljs-function {
  color: #50fa7b;
}

.hljs-params {
  color: #ffb86c;
}

.hljs-addition {
  color: #50fa7b;
  background-color: rgba(80, 250, 123, 0.15);
}

.hljs-deletion {
  color: #ff5555;
  background-color: rgba(255, 85, 85, 0.15);
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
